:root {
    --primary1-dark: hsl(300, 43%, 22%);
    --primary2-light: hsl(333, 80%, 67%);
    --neutral1-dark:hsl(303, 10%, 53%);
    --neutral2-light: hsl(300, 24%, 96%);
    --neutral3-white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
}
.top-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 15rem;
}


.top-card p {
    color: var(--neutral1-dark);
    font-size: 1rem;
    line-height: 1.5rem;
}

h1 {
    color: var(--primary1-dark);
    font-size: 3rem;
}

.main-heading {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 100%;
    width: 19.2%;
}

.review {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ratings-card h3 {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content:end;
}

.ratings-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ratings {
    align-items: center;
    background-color: var(--neutral2-light);
    color: var(--primary1-dark);
    padding: 18px ;;
    border-radius: 8px;
}

.rating1 {  
    align-items: center;
    transform: translate(-95px);
}

.rating2 {
    transform: translate(-50px);
}

.stars {
    display: flex;
    align-items: center;
    flex-direction: row;
   justify-content: left;
    gap: .5rem;
    height: 100%;
    max-width: 100%;
    width: 20%; 
    float: left;
}

.bottom-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.bottom-card h4 {
    color: var(--primary2-light);
    font-weight: 400;
    padding-top: .3rem;
}

.bottom-card h3 {
    font-weight: 500;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--primary1-dark);
    border-radius: 6px;
    color: var(--neutral3-white);
    padding: 35px 28px;
    max-width: 100%;
    width: 17.2%;
}

img {
    border-radius: 100px;
    max-width: 40px;
    width: 35px;
}

.profile-container {
    display: flex;
    gap: 1.5rem;
}

.profile-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .8rem;
}

.card p {
    padding-top: 1.5rem;
    line-height: 1.4rem;
    font-size: 1rem;
}

.user-review-2 {
    margin-top: 30px;
}

.user-review-3 {
    margin-top: 55px;
}


